body {
  font-family: monospace;
}

.header{
    
  background-image:url("futuristic-city-wallpaper-6.jpg");
  background-size:cover;
  background-repeat:no-repeat;
  background-position:center center;
  color:forestgreen;
  padding:20px;
  font-size: 25px;
  opacity:0.99;

  
}

.header img{
 width:125px;
 padding-left:400px;
position: relative; bottom:100px;
opacity:0.3;
}