body {
  font-family: "Open Sans", sans-serif;
background-color:red;}

.header{
  background-image:url(https://newevolutiondesigns.com/images/freebies/futuristic-city-wallpaper-6.jpg);
  backround-size:cover;
  background-repeat:no-repeat;
  color:white;
  padding:20px;
  opacity:0.99;

  
}

.header img{
 width:125px;
 padding-left:350px;
position: relative; bottom:100px;
}